option_settings:
  aws:elasticbeanstalk:application:environment:
    DBTYPE: neo4j
    DBHOST: localhost
    DBPORT: 7687
    DBUSER: neo4j
    DBPASSWORD: password
    SNS_ARN: arn:aws:sns:us-east-1:123456789012:test